.header-item {
  display: flex;
  align-items: center;
}

.header-item img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 1rem;
}

.header-item p, .header-item h3 {
  margin: 0;
  font-size: .9rem;
}
.header-item p {
  font-size: .7rem;
}
.tags {
  display: flex;
  align-items: baseline;
  font-size: 12px;
}
.tag {
  background-color: rgb(174, 15, 67);
  color: rgb(232, 230, 227);
  border-radius: 1rem;
  padding: 4px .3rem;
  margin-right: .25rem;
  display: block;
  cursor: pointer;
}
.body-item figure {
  margin: 0;
}
.body-item img {
  width: 100%;
  margin-bottom: 1rem;
}

.body-item .description {
  font-size: 1.2rem;
  font-weight: 500;
}

.body-item .link {
  font-size: .75rem;
  color: rgb(208, 158, 255);
}

.body-item .comments {
  display: block;
  width: 100%;
  text-align: left;
  background-color: unset;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  padding: 0;
  font-size: 1.2rem;
}


/* comments  */
.comment {
  background-color: rgb(24, 26, 27);
  color: aliceblue;
  padding: 1rem;
  border-radius: .5rem;
  margin: 8px 0;
  box-shadow: rgb(0,0,0,0.15) 0px 0.5rem 1rem;
  margin: 8px .5rem;
}
.comment-profile {
  display: flex;
  align-items: center;
}
.comment-profile img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}